body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Stile per il container del titolo */
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Stile per le immagini del logo */
.title-container .logo {
  width: auto;
  height: 60px; /* Puoi modificare l'altezza in base alla dimensione desiderata */
  margin: 0 5px; /* Spaziatura tra il logo e il titolo */
}

/* Stile per le immagini del logo */
.title-container .logo2 {
  width: auto;
  height: 150px; /* Puoi modificare l'altezza in base alla dimensione desiderata */
  margin: 0 0px; /* Spaziatura tra il logo e il titolo */
}

/* Stile del titolo */
.title-container h1 {
  margin: 0;
  font-size: 2em;
}

h1 {
  text-align: center;
}

.classifica {
  margin: 20px 0;
  padding: 10px;
  /* border: 1px solid #ccc;
  border-radius: 5px; */
}

.classifica h2 {
  margin-top: 0;
}

.classifica ul {
  list-style-type: none;
  padding: 0;
}

.classifica li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

/* Stile per la tabella */
table {
  width: 100%;
  border-collapse: collapse;
  /* background-color: white; */
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.table-container {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}

/* Stile per le celle della tabella */
td,
th {
  /* border: 1px solid #ddd;  */
  /* Bordo delle celle */
  padding: 5px; /* Spazio interno */
  text-align: center; /* Centra il contenuto delle celle */
}

/* th { */
  /* background-color: #810101;   */
  /* Colore di sfondo  */
/* } */

/* 
Stile per le righe alternate
tr:nth-child(even) {
  background-color: #f2f2f2; /* Colore di sfondo delle righe pari */
/* } 


 */
td.totale {
  /*  background-color: #feffe3;  Colore di sfondo per evidenziare le colonne "Totale" */

  /* font-size: larger; */
  font-weight: bold;
}

/* Stile per le colonne "Totale" */
th.totalone {
  /*   background-color: #eeefe7;  Colore di sfondo per evidenziare le colonne "Totale" */
  /* color: #810101;  */
  /* Colore per le colonne "Totale" */
  font-size: larger;
  font-weight: bold;
}
td.totalone {
  /*  background-color: #feffe3;  Colore di sfondo per evidenziare le colonne "Totale" */
  /* color: #810101;  */
  /* Colore per le colonne "Totale" */
  font-size: larger;
  font-weight: bold;
}
/* tr:nth-child(even) td.totalone { */
/*   background-color: #eeefe7;  Colore di sfondo per evidenziare le colonne "Totale" */
/* color: #810101;  */
/* Colore per le colonne "Totale" */
/* } */

/* Stile per nascondere le colonne */
.hidden {
  display: none;
}

/* Stile per il pulsante di mostra/nascondi colonne */
.toggleColumnsButton {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 5px;
  transition: background-color 0.3s ease;
  border-radius: 3px;
}

.toggleColumnsButton:hover {
  background-color: #666;
}

.hidden {
  display: none;
}

/* Stile del pulsante per il PDF */
.pdf-button-container {
  text-align: center;
  margin-bottom: 10px;
}

.pdf-button {
  background-color: #810101;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px; /* Aggiungi un margine attorno al pulsante */
}

.pen-button {
  background-color: #810101;
  color: white;
  /* background-color: rgb(255, 255, 0);
  color: black; */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px; /* Aggiungi un margine attorno al pulsante */
}

.pdf-button:hover {
  background-color: #4c2020;
}

.pen-button:hover {
  background-color: #4c2020;
}

/* Stile per le sezioni delle tendine */
.accordion-container {
  margin-bottom: 10px;
}

.accordion {
  background-color: #000000;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  transition: 0.4s;
  font-size: 18px;
  /* border-radius: 5px; Aggiungi un bordo arrotondato */
  margin-bottom: 10px; /* Aggiungi uno spazio tra i pulsanti */
}

.accordion > i > svg {
  width: 1rem;
  height: 0.9rem;
  transform: rotate(90deg);
  transition: all 0.3s ease;
  float: right;
}

.accordion.active > i > svg {
  height: 0.9rem;
  width: 1rem;
  transform: rotate(-90deg);
}

.accordion:hover {
  background-color: #2a2a2a;
}

/* Stile per le sezioni delle tendine */
.accordionn-container {
  margin-bottom: 10px;
}

.accordionn {
  background-color: #000000;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  transition: 0.4s;
  font-size: 18px;
  /* border-radius: 5px; Aggiungi un bordo arrotondato */
  margin-bottom: 10px; /* Aggiungi uno spazio tra i pulsanti */
}

.accordionn > i > svg {
  width: 1rem;
  height: 0.9rem;
  transform: rotate(90deg);
  transition: all 0.3s ease;
  float: right;
}

.accordionn.active > i > svg {
  height: 0.9rem;
  width: 1rem;
  transform: rotate(-90deg);
}

.accordionn:hover {
  background-color: #2a2a2a;
}

.panel {
  padding: 0 px;
  display: none;
  overflow: hidden;
  background-color: black; /* Sfondo nero quando la tendina è aperta */
  margin-bottom: 5px; /* Aggiungi uno spazio*/
}

/* Stile del contenuto della tendina */
.panel-content {
  background-color: rgb(0, 0, 0);
  padding: 0px;
  /* border-radius: 5px; */
}

/* Mobile styling */
@media (max-width: 768px) {
  .accordion {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 0px;
  }
  .accordion:hover {
    background-color: black;
  }


  .accordionn {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 0px;
  }
  .accordionn:hover {
    background-color: black;
  }

  .pdf-button {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .pen-button {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 18px;
  }
}

/* /* Stile per la freccia indicativa

.table-scroll-indicator {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    pointer-events: none;
} */

/* Indicatore di scorrimento su mobile */
@media (max-width: 768px) {
  .table-container {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  /* differenziazione per evitare il doppio scorri. avrà senso? boh, ma funziona */
  .table-container1 {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }

  .table-container::after {
    content: "→ Scorri";
    display: block;
    position: absolute;
    top: 87%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 70px;
    color: #810101;
    pointer-events: none;
    opacity: 0.1;
  }

  th,
  td {
    padding: 5px;
    text-align: center;
  }

  /* .panel-content {
    background-color: white; 
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid #ddd;
  } */

  table {
    font-size: 11px;
  }
}
/* .countdown-section {
  position: relative;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  margin: 5px 0;
  color: white;
  overflow: hidden;
  background: url('gara2.png') center/cover no-repeat;
} */

/* titolotto */
.countdown-header {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.countdown-container {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("japan.svg");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  opacity: 1;
  border-radius: 15px;
}

.countdown-container1 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("japan.svg");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  opacity: 1;
  border-radius: 15px;
}

.lobbyx {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

.countdown {
  background-color: rgba(0, 0, 0, 0.78);
  min-width: 110px;
  flex-wrap: wrap;
  flex: 1;
  color: white;
  padding: 10px;
  border-radius: 0px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 3px;
  border-radius: 15px;
  cursor: pointer;
}

.countdown:hover {
  background-color: rgba(0, 0, 0, 0.53);
}

/* .countdown h3 {
  margin-bottom: 10px;
  font-size: 18px;
} */
.timer {
  font-weight: lighter;
}
/* .countdown div {
  font-size: 17px;
  font-weight: bold;
} */
/* 
@media (max-width: 768px) {
  .countdown {
      width: 40%;
      margin: 0px 0px;
  }
} */

.winner {
  font-size: 17px;
  font-weight: bold;
  color: #fff7c7; /* Colore dorato */
  text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 20px #ffd700,
    0 0 40px #ff8c00, 0 0 80px #ff8c00,
    0 0 90px #ff8c00 /*,
      0 0 100px #FF8C00 */
      /*     0 0 150px #FF8C00 Effetto glowing */;
}

.qualified {
  color: #d77777 !important; /* colore di evidenziazione */
}
/* .qualified:nth-child(even) { */
/* color: rgb(
    195,
    226,
    150
  ) !important;  */
/* colore di evidenziazione per le righe alternate */
/* } */

/* .even-row { */
/* background-color: #f2f2f2;  */
/* colore di sfondo per righe alternate
} */

/* .odd-row { */
/* background-color: #dedede;  */
/* colore di sfondo per righe alternate */
/* } */

.twitch {
  width: 30px;
  height: auto;
  margin-top: 9px;
}

.youtube {
  width: 30px;
  height: auto;
  margin-top: 11px;
}

.navbar-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 40px;
  text-align: center;
  border-top: 3px solid rgb(171, 0, 0);
}

.navbar-scroll {
  /* transition: all 0.3s ease; */
  /* transform: skew(-10deg); */
  background-color: #ffffff; /* Cambia il colore di sfondo come preferisci */
  color: rgb(0, 0, 0); /* Cambia il colore del testo come preferisci */
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
  /* border-top: 3px solid rgb(171, 0, 0); */
}

.navbar-scroll a {
  color: #000000;
  display: inline-block;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.menu-link.active {
  background-color: rgb(171, 0, 0);
  font-weight: bold;
  color: white;
}

.menu-link:hover {
  background-color: rgb(171, 0, 0); /* Cambia il colore al passaggio del mouse */ /* Cambia il colore del testo al passaggio del mouse */
  color: white;
} 

.section {
  display: none; /* Nascondi tutte le sezioni per impostazione predefinita */
}

.menu-link {
  display: inline-block;
  /* padding: 10px 20px; */
  text-decoration: none;
  /* color: #ffffff; */
  /* background-color: #fff; */
  border-radius: 0px;
  /* transition: all 0.3s ease;
  transform: skew(-10deg); */
  font-family: 'Arial', sans-serif;
}
