body {
  background-color: black;
  color: white;
  /* font-family: Arial, sans-serif; */
  font-family: 'f1';
  margin: 0;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@font-face {
  font-family: 'f1'; /*a name to be used later*/
  src: url('Formula1-Regular.otf'); /*URL to font*/
}

button {
  font-family: inherit;
}

.main-container {
  display: block;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

/* Stile per il container del titolo */
.title-container {
  display: block;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/* Stile per le immagini del logo */
.title-container .logohead {
  width: auto;
  height: 100px; /* Puoi modificare l'altezza in base alla dimensione desiderata */
  margin: auto; /* Spaziatura tra il logo e il titolo */
  margin-top: 10px;
  display: block;
}

.title-container .faceo {
  width: auto;
  height: 60px; /* Puoi modificare l'altezza in base alla dimensione desiderata */
  margin: 5px auto; /* Spaziatura tra il logo e il titolo */
  margin-bottom: 20px;
  display: block;
}

/* Stile per le immagini del logo */
.logotrack {
  width: auto;
  height: 80px; /* Puoi modificare l'altezza in base alla dimensione desiderata */
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  -webkit-filter: grayscale(0) invert(0);
  filter: brightness(140%) grayscale(0) invert(0);
}



.flagtrack {
  width: auto;
  height: 15px; /* Puoi modificare l'altezza in base alla dimensione desiderata */
  /* margin-top: 10px;
  margin-bottom: 10px;*/
  margin-left: 5px;
  /* justify-content:; */
}

/* Stile del titolo */
.title-container h1 {
  margin: 10;
  font-size: 2em;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}



.classifica {
  margin: 20px 0;
  padding: 10px;
  /* border: 1px solid #ccc;
  border-radius: 5px; */
}

.classifica h2 {
  margin-top: 0;
}

.classifica ul {
  list-style-type: none;
  padding: 0;
}

.classifica li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

/* Stile per la tabella */
table {
  width: 100%;
  border-collapse: collapse;
  /* background-color: white; */
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.table-container {
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}

/* Stile per le celle della tabella */
td,
th {
  border: 1px solid #000000;
  background-color: #1a1a1a;
  /* Bordo delle celle */
  padding: 5px; /* Spazio interno */
  text-align: center; /* Centra il contenuto delle celle */
}

th {
  background-color: #810101;
  /* Colore di sfondo */
}

/* 
Stile per le righe alternate
tr:nth-child(even) {
  background-color: #f2f2f2; /* Colore di sfondo delle righe pari */
/* } 


 */
td.totale {
  /*  background-color: #feffe3;  Colore di sfondo per evidenziare le colonne "Totale" */

  /* font-size: larger; */
  font-weight: bold;
}

/* Stile per le colonne "Totale" */
th.totalone {
  /*   background-color: #eeefe7;  Colore di sfondo per evidenziare le colonne "Totale" */
  /* color: #810101;  */
  /* Colore per le colonne "Totale" */
  font-size: larger;
  font-weight: bold;
}
td.totalone {
  /*  background-color: #feffe3;  Colore di sfondo per evidenziare le colonne "Totale" */
  /* color: #810101;  */
  /* Colore per le colonne "Totale" */
  font-size: larger;
  font-weight: bold;
}
/* tr:nth-child(even) td.totalone { */
/*   background-color: #eeefe7;  Colore di sfondo per evidenziare le colonne "Totale" */
/* color: #810101;  */
/* Colore per le colonne "Totale" */
/* } */

/* Stile per nascondere le colonne */
.hidden {
  display: none;
}

/* Stile per il pulsante di mostra/nascondi colonne */
.toggleColumnsButton {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 5px;
  transition: background-color 0.3s ease;
  border-radius: 3px;
}

.toggleColumnsButton:hover {
  background-color: #666;
}

.hidden {
  display: none;
}

/* Stile del pulsante per il PDF */
.pdf-button-container {
  text-align: center;
  margin-bottom: 10px;
}

.pdf-button {
  background-color: #810101;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px; /* Aggiungi un margine attorno al pulsante */
}

.pen-button {
  background-color: #810101;
  color: white;
  /* background-color: rgb(255, 255, 0);
  color: black; */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 5px; /* Aggiungi un margine attorno al pulsante */
}

.pdf-button:hover {
  background-color: #4c2020;
}

.pen-button:hover {
  background-color: #4c2020;
}

/* Stile per le sezioni delle tendine */
.accordion-container {
  margin-bottom: 10px;
}

.accordion {
  background-color: #000000;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  transition: 0.4s;
  font-size: 18px;
  /* border-radius: 5px; Aggiungi un bordo arrotondato */
  margin-bottom: 10px; /* Aggiungi uno spazio tra i pulsanti */
}

.accordion > i > svg {
  width: 1rem;
  height: 0.9rem;
  transform: rotate(90deg);
  transition: all 0.3s ease;
  float: right;
}

.accordion.active > i > svg {
  height: 0.9rem;
  width: 1rem;
  transform: rotate(-90deg);
}

.accordion:hover {
  background-color: #2a2a2a;
}

/* Stile per le sezioni delle tendine */
.accordionn-container {
  margin-bottom: 10px;
}

.accordionn {
  background-color: #000000;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  transition: 0.4s;
  font-size: 18px;
  /* border-radius: 5px; Aggiungi un bordo arrotondato */
  margin-bottom: 10px; /* Aggiungi uno spazio tra i pulsanti */
}

.accordionn > i > svg {
  width: 1rem;
  height: 0.9rem;
  transform: rotate(90deg);
  transition: all 0.3s ease;
  float: right;
}

.accordionn.active > i > svg {
  height: 0.9rem;
  width: 1rem;
  transform: rotate(-90deg);
}

.accordionn:hover {
  background-color: #2a2a2a;
}

.panel {
  padding: 0 px;
  display: none;
  overflow: hidden;
  background-color: black; /* Sfondo nero quando la tendina è aperta */
  margin-bottom: 5px; /* Aggiungi uno spazio*/
}

/* Stile del contenuto della tendina */
.panel-content {
  background-color: rgb(0, 0, 0);
  padding: 0px;
  /* border-radius: 5px; */
}

/* Mobile styling */
@media (max-width: 768px) {
  .accordion {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 0px;
  }
  .accordion:hover {
    background-color: black;
  }

  .accordionn {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 0px;
  }
  .accordionn:hover {
    background-color: black;
  }

  .pen-button {
    width: -webkit-fill-available;
    box-sizing: border-box;
    padding: 12px;
    margin: 20px;
    font-size: 18px;
  }

  .pdf-button {
    width: -webkit-fill-available;
    box-sizing: border-box;
    padding: 12px;
    margin: 20px;
    font-size: 18px;  
  }

}

/* /* Stile per la freccia indicativa

.table-scroll-indicator {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    pointer-events: none;
} */

/* Indicatore di scorrimento su mobile */
@media (max-width: 768px) {
  .section {
    padding: 5px;
  }

  .table-container {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  /* differenziazione per evitare il doppio scorri. avrà senso? boh, ma funziona */
  .table-container1 {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }

  /* .table-container::after {
    content: "→ Scorri";
    display: block;
    position: absolute;
    top: 87%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 70px;
    color: #810101;
    pointer-events: none;
    opacity: 0.1;
  } */

  th,
  td {
    padding: 4px 2px 4px;
    text-align: center;
  }

  /* .panel-content {
    background-color: white; 
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid #ddd;
  } */

  table {
    font-size: 12px;
  }
}
/* .countdown-section {
  position: relative;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  margin: 5px 0;
  color: white;
  overflow: hidden;
  background: url('gara2.png') center/cover no-repeat;
} */

/* titolotto */
.titolozzo {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.countdown-container {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("images/japan.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  opacity: 1;
  border-radius: 15px;
}

.countdown-container1 {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("images/usa.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  opacity: 1;
  border-radius: 15px;
}

.countdown-containereu {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("images/eu.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  opacity: 1;
  border-radius: 15px;
}

.countdown-containerfinale {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  opacity: 1;
  border-radius: 15px;
  font-size: 7vw;
}


.lobbyx {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ffffff;
}

.countdown {
  background-color: rgba(0, 0, 0, 0.78);
  min-width: 120px;
  flex-wrap: wrap;
  flex: 1;
  color: white;
  padding: 10px;
  border-radius: 0px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 3px;
  border-radius: 15px;
  cursor: pointer;
}

.countdown:hover {
  background-color: rgba(0, 0, 0, 0.53);
}

/* .countdown h3 {
  margin-bottom: 10px;
  font-size: 18px;
} */
.timer {
  font-weight: lighter;
}
/* .countdown div {
  font-size: 17px;
  font-weight: bold;
} */
/* 
@media (max-width: 768px) {
  .countdown {
      width: 40%;
      margin: 0px 0px;
  }
} */

.winner {
  font-size: 17px;
  font-weight: bold;
  color: #fff7c7; /* Colore dorato */
  text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 20px #ffd700,
    0 0 40px #ff8c00, 0 0 80px #ff8c00,
    0 0 90px #ff8c00 /*,
      0 0 100px #FF8C00 */
      /*     0 0 150px #FF8C00 Effetto glowing */;
}

.winnerf {

  font-weight: bold;
  color: #fff7c7; /* Colore dorato */
  text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 20px #ffd700,
    0 0 40px #ff8c00, 0 0 80px #ff8c00,
    0 0 90px #ff8c00 /*,
      0 0 100px #FF8C00 */;
  margin-bottom: 40px;
  
}
  
/* .qualified {
  color: #ff8181 !important; /* colore di evidenziazione 
} */
/* .qualified:nth-child(even) { */
/* color: rgb(
    195,
    226,
    150
  ) !important;  */
/* colore di evidenziazione per le righe alternate */
/* } */

/* .even-row { */
/* background-color: #f2f2f2;  */
/* colore di sfondo per righe alternate
} */

/* .odd-row { */
/* background-color: #dedede;  */
/* colore di sfondo per righe alternate */
/* } */

.twitch {
  width: 30px;
  height: auto;
  margin-top: 9px;
}

.youtube {
  width: 30px;
  height: auto;
  margin-top: 11px;
}

.navbar-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 40px;
  text-align: center;
  border-top: 2px solid rgb(171, 0, 0);
}

.navbar-scroll {
  /* transition: all 0.3s ease; */
  /* transform: skew(-10deg); */
  background-color: #ffffff; /* Cambia il colore di sfondo come preferisci */
  color: rgb(0, 0, 0); /* Cambia il colore del testo come preferisci */
  display: inline-flex;
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
  /* border-bottom: 5px solid rgb(171, 0, 0); */
  /* border-top: 3px solid rgb(171, 0, 0); */
}

.navbar-scroll a {
  color: #000000;
  display: inline-block;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.menu-link.active {
  background-color: rgb(171, 0, 0);
  font-weight: bold;
  color: white;
}

/* .menu-link:hover {
  background-color: rgb(
    171,
    0,
    0
  );
  color: white;
} */

.section {
  display: none; /* Nascondi tutte le sezioni per impostazione predefinita */
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
}

.menu-link {
  display: inline-block;
  /* padding: 10px 20px; */
  text-decoration: none;
  /* color: #ffffff; */
  /* background-color: #fff; */
  border-radius: 0px;
  /* transition: all 0.3s ease;
  transform: skew(-10deg); */
  /* font-family: "Arial", sans-serif; */
}

.pentrack {
  background-color: white;
  width: -webkit-fill-available;
  max-width: 600px;
  height: auto; /* Puoi modificare l'altezza in base alla dimensione desiderata */
  margin: 10px;
  justify-content: center;
  -webkit-filter: grayscale(1) invert(1);
filter: grayscale(1) invert(1);
}

.footer-section {
  width: 100%;
  background-color: #1a1a1a;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23464646' fill-opacity='0.45'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E"); */
  /* background-size: cover; */
  padding: 0px 0px 0px 0px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  /* border-top: 3px solid rgb(171, 0, 0); */
}

.sponsor-section h2 {
  /* margin-bottom: 20px; */
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sponsor-logos {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.sponsor-logos img {
  max-height: 50px; /* Dimensioni massime delle immagini */
  max-width: 80px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 10px;
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
  border-bottom: 1px solid rgb(132, 132, 132);
}

.social-icons a {
  display: inline-block;
  width: 22px;
  height: auto;
}

.social-icons img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}
/* 
.tlm {
  font-size: 10px;
  margin-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
} */

/* Stile per la griglia di partenza */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Due colonne per fila */
  gap: 0px; /* Spazio tra le caselle */
  padding: 15px;
  background-color: #292929; /* Colore di sfondo simile al carbonio */
  border-top: 10px solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="10" viewBox="0 0 40 10"><rect width="10" height="10" fill="black"/><rect x="10" width="10" height="10" fill="white"/><rect x="20" width="10" height="10" fill="black"/><rect x="30" width="10" height="10" fill="white"/></svg>')
    10 repeat;
}

.grid-container2 {
  background-image: linear-gradient(black,#333);
  background-color: #333; /* Colore di sfondo simile al carbonio */
  border-bottom: 10px solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="10" viewBox="0 0 40 10"><rect width="10" height="10" fill="white"/><rect x="10" width="10" height="10" fill="black"/><rect x="20" width="10" height="10" fill="white"/><rect x="30" width="10" height="10" fill="black"/></svg>')
    10 repeat;
    padding: 20px;
    text-align: center;
    font-size:  30px;
    position: relative;
    z-index: 2;
}

.grid-item {
  /* background-color: #000000; Colore delle caselle */
  color: white;
  padding-top: 5px;
  text-align: center;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 5px solid white ;
  border-left: 5px solid white ;
  border-right: 5px solid white ;
  margin-bottom: 20px;
  min-height: 70px;
  flex-flow: column;
}

@media (max-width: 768px) {
  .grid-item {
    font-size: 4vw;
  }
}

.grid-index {
  text-align: center;
}

.grid-item-container:nth-child(odd) {
  margin-right: 10px; 
}

.grid-item-container:nth-child(even) {
  margin-left: 10px; /* Spazio a sinistra per le caselle pari */
  margin-top: 20px;
}

.infofinale {
  font-size: larger;
  padding: 5px;
  text-align: center;
}

.logotrackfinale {
  width: auto;
  height: 70px; /* Puoi modificare l'altezza in base alla dimensione desiderata */
  margin-top: 0px;
  margin-bottom: 10px;
  justify-content: center;
}

.team-icon {
  height: 55px;
  margin-top: 5px;
}
